<!--
  Generated template for the PageView page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="[settings.theme]">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [ngClass]="{'irmologion' : (settings.textSource === 'cs' && !forceTitleRu)}">{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="setBookMark()"
              [ngClass]="{'not-marked': !isMarked()}"
              *ngIf="navParams.data.item.kafisma">
        <ion-icon name="ios-bookmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="[settings.theme, (isLandscape ? 'landscape' : ''), (!settings.bookMode ? 'forceScrollBar' : '')]">

  <div id="contentContainer"
       (swipeleft)="goPage(page + 1)"
       (swiperight)="goPage(page - 1)"

       [ngClass]="{'irmologion' : (settings.textSource === 'cs'),
                   'noPerenos':(!settings.perenos),
                   'hyphens':  (settings.hyphens),
                   'justify':  (settings.justify),
                   'bookMode': (settings.bookMode)}"

       [ngStyle]="{'fontFamily': (settings.textSource === 'ru') ? settings.fontFamily : false,
                   'font-size': settings.fontSize + 'px',
                   'transform': 'translate3d(' + getTranslateX() + ', 0, 0)',
                   'line-height': settings.lineHeight + '%'}">


    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button outline small *ngIf="+kafisma > 1"
                  class="forceRu"
                  (click)="goKafisma(+kafisma - 1)">
            <ion-icon name="arrow-dropleft"></ion-icon>
            &nbsp;&nbsp;
            Кафизма {{+kafisma - 1}}
          </button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <button ion-button outline small *ngIf="+kafisma < 20"
                  class="forceRu"
                  (click)="goKafisma(1 + (1*kafisma))">
            Кафизма {{1 + (1*kafisma)}}
            &nbsp;&nbsp;
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <psalm *ngIf="navParams.data.item.psalm"
           [psalmNumber]="navParams.data.item.psalm"
           [settings]="settingsService.settings">
    </psalm>



    <kafisma *ngIf="kafisma" [kafismaNumber]="kafisma"
             [settings]="settingsService.settings">
    </kafisma>

    <div [innerHTML]="content | safeHtml"></div>

    <ion-grid class="after_page">
      <ion-row>
        <ion-col>
          <button ion-button outline small *ngIf="+kafisma > 1"
                  class="forceRu"
                  (click)="goKafisma(+kafisma - 1)">
            <ion-icon name="arrow-dropleft"></ion-icon>
            &nbsp;&nbsp;
            Кафизма {{+kafisma - 1}}
          </button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <button ion-button outline small *ngIf="+kafisma < 20"
                  class="forceRu"
                  (click)="goKafisma(1 + (1*kafisma))">
            Кафизма {{1 + (1*kafisma)}}
            &nbsp;&nbsp;
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="after_page">
      <ion-row>
        <ion-col >
          <button ion-button outline small *ngIf="prevPsalm"
                  class="forceRu"
                  (click)="goPsalm(prevPsalm)">
            <ion-icon name="arrow-dropleft"></ion-icon> &nbsp;&nbsp;
            Псалом {{prevPsalm}}
          </button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <button ion-button outline small *ngIf="nextPsalm"
                  class="forceRu"
                  (click)="goPsalm(nextPsalm)">
            Псалом {{nextPsalm}} &nbsp;&nbsp;
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="clear"></div>



  <div class="pages-info" [ngClass]="{'hidden': (!enableInfo)}" *ngIf="settings.bookMode">
    <button ion-button icon-only [clear]="true"
            class="forceRu"
            [ngClass]="{'disabled': (page === 0)}"
            (click)="goPage(page - 1)">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>

    <button ion-button [clear]="true">
      {{page + 1}} / {{pagesTotal}}
    </button>

    <button ion-button icon-only [clear]="true"
            class="forceRu"
            [ngClass]="{'disabled': (page + 1 === pagesTotal)}"
            (click)="goPage(page + 1)">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </div>
</ion-content>
