page-page-view {
  hyphens: auto;

  .namepsal + p {
    color: #E50000;
    text-align: center;
  }
  .night .namepsal + p { color: #ff4f4f;}

  h3 {
    display: none;
  }

  p:first-letter {
    color: #e50000;
  }

  .night p:first-letter { color: #ff4f4f;}


  p.buk {
    text-indent: 0;
    /*line-height: 32px;*/
  }

  p.buk:first-letter {
    font-size: 320%;
    /*line-height: 64px;*/
    padding-right: 3px;
    float: left;
  }

  .com, .namepsal {
    color: #e50000;
    text-indent: 0;
    /*font-size: 20px;*/
    text-align: center;
    margin: 10px 0 2px;
    font-style: italic;
  }

  .night .com, .night .namepsal { color: #ff4f4f;}


  .red {
    color: #e50000;
  }

  .night .red { color: #ff4f4f;}


  .center {
    text-align: center;
    text-indent: 0;
  }

  .namepsal {
    font-style: normal;
  }

  .com a:link, .com a:hover, .com a:active, .com a:visited, .namepsal a:link, .namepsal a:hover, .namepsal a:active, .namepsal a:visited {
    padding: 0 5px;
    color: #e50000;
  }
  .night .com a:link,
  .night .com a:hover,
  .night .com a:active,
  .night .com a:visited,
  .night .namepsal a:link,
  .night .namepsal a:hover,
  .night .namepsal a:active,
  .night .namepsal a:visited
  { color: #ff4f4f;}


  p.space {
    height: 10px;
  }

  i {
    color: #e50000;
    font-weight: normal;
    font-style: normal;
    /*font-size: 20px;*/
  }
  .night i { color: #ff4f4f;}

  p.psal {
    text-indent: 0;
  }

  p.psal b {
    color: #e50000;
    /*font-size: 30px;*/
  }
  .night p.psal b { color: #ff4f4f;}


  p.psal i, .com i, .namepsal i {
    font-size: 60%;
    margin-right: 2px;
    vertical-align: super;
  }

  p.ogl, p.ogl a:link, p.ogl a:hover, p.ogl a:active, p.ogl a:visited {
    text-indent: 0;
    /*font-size: 18px;*/
    line-height: 18px;
    padding: 0 5px;
  }

  p.ogl b a:link, p.ogl b a:hover, p.ogl b a:active, p.ogl b a:visited {
    /*font-size: 20px;*/
    /*line-height: 24px;*/
  }

  a.red, a.red:link, a.red:active, a.red:hover, a.red:visited {
    color: #e50000;
  }
  .night a.red,
  .night a.red:link,
  .night a.red:active,
  .night a.red:hover,
  .night a.red:visited  { color: #ff4f4f;}



  p.snoska {
    text-indent: 0;
    color: #440500;
    font-size: 80%;
    margin: 0 0 20px;
    padding: 5px 20px;
    /*line-height: normal;*/
    border: 1px solid #f2ece1;
    border-width: 1px 0 0 0;
  }
  .night p.snoska  { color: #ff4f4f;}



  .hr {
    color: black;
    background: black;
    height: 1px;
    /*line-height: 1px;*/
    border: 0;
  }

  .hyphens {
    hyphens: auto;
  }

  .justify {
    text-align: justify;
  }

  .noPerenos br {
    display: none;
  }

  .not-marked {
    opacity: 0.5;
  }

  .bookMode {
    height: 100%;
    column-gap: 40px;
    column-width: calc(100vw - 60px);
    transform: translate3d(0, 0, 0);
    transition: transform 500ms;
    margin: 0 -16px;
    padding: 10px;
  }
  .landscape-primary {
    .bookMode {
      column-width: calc(50vw - 60px);
    }
  }

  .pages-info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    background-color: rgba(255, 255, 255, 0.64);
    color: $basicColor;

    button {
      color: #501111;
    }
    span {
      width: 60px;
      vertical-align: -webkit-baseline-middle;;
    }
    transform: translate3d(0, 0, 0);
    transition: transform 300ms;

    &.hidden {
      transform: translate3d(0, 55px, 0);
      transition: transform 300ms;
    }
  }

  .disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
