<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="irmologion">Pалти1рь</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <h5>Псалтирь царя и пророка Давида</h5>
  <ion-list>
    <ion-list-header>Последине кафизмы</ion-list-header>
    <ion-item *ngIf="history.length === 0">
      У вас еще нет открытых кафизм
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Закладки</ion-list-header>
    <ion-item *ngIf="bookmarks.length === 0">
      У вас пока нет закладок
    </ion-item>
    <ng-container *ngFor="let p of bookmarks; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <button ion-item (click)="openPage(p, p.item)">
          <span [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
            {{p.item[settingsService.settings.textSource]}}
          </span>
          <ion-note item-right>{{p.note}}</ion-note>
        </button>
        <ion-item-options>
          <button ion-button color="light" icon-left (click)="removeBookmark(p)">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-list-header>Избранные псалмы</ion-list-header>
    <ion-item *ngIf="psalms.length === 0">
      У вас еще нет избарнных псалмов
    </ion-item>
    <ng-container *ngFor="let p of psalms; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <button ion-item (click)="openPage(p, p.item)">
          {{p.item[settingsService.settings.textSource]}}
        </button>
        <ion-item-options>
          <button ion-button color="light" icon-left (click)="removePsalm(p)">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
