<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="irmologion">Pалти1рь</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <h5>Псалтирь царя и пророка Давида</h5>
  <ion-list>
    <ion-list-header>Последине кафизмы</ion-list-header>
    <ion-item *ngIf="history.length === 0">
      У вас еще нет открытых кафизм
    </ion-item>
    <ng-container *ngFor="let p of history.slice(-7); trackBy: index" >
      <button (*ngIf)="p && p.item.ru" ion-item
              (click)="openPage(p)">
        <span [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
          {{p.item[settingsService.settings.textSource]}}
        </span>
        <ion-note item-right>{{p.note}}</ion-note>
      </button>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-list-header>Закладки</ion-list-header>
    <ion-item *ngIf="bookmarks.length === 0">
      У вас пока нет закладок
    </ion-item>
    <ng-container *ngFor="let p of bookmarks; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <button ion-item (click)="openPage(p)">
          <span [ngClass]="{'irmologion' : (settingsService.settings.textSource === 'cs')}">
            {{p.item[settingsService.settings.textSource]}}
          </span>
          <ion-note item-right>{{p.note}}</ion-note>
        </button>
        <ion-item-options>
          <button ion-button color="light" icon-left (click)="removeBookmark(p)">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <ion-list>
    <ion-list-header>Избранные псалмы</ion-list-header>
    <ion-item *ngIf="psalms.length === 0">
      У вас еще нет избарнных псалмов
    </ion-item>
    <ng-container *ngFor="let p of psalms; trackBy: index" >
      <ion-item-sliding (*ngIf)="p && p.item.ru">
        <button ion-item (click)="openPage(p)">
          {{p.item[settingsService.settings.textSource]}}
        </button>
        <ion-item-options>
          <button ion-button color="light" icon-left (click)="removePsalm(p)">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>

  <div class="intro" *ngIf="isIntroHidden !== 'true'">
    <div class="desc"> Это первая версия приложения для Android, в случае возникновения ошибок,
      неточностей или иных проблем при использования приложения просьба сообщить автору:
      <div class="center">
        <a ion-button icon-start small outline class="button" href="mailto:psalm@it4p.ru">
          <ion-icon name="mail"></ion-icon> &nbsp;
          it4p@mail.ru
        </a>
      </div>
      Так же будем рады любым предложеням по работе приложения.
    </div>

    В данном приложении вы можете:
    <ul>
      <li>Читать Псалтирь на церковнославянском языке в обычном и современном начертании.</li>
      <li>Возможность посмотреть синодальный перевод псалмов (при нажатии на заголовок псалма).</li>
      <li>Обычные молитвы или молитвы за упокой на "Славах"</li>
      <li>Молитвы "Перед чтением Псалтири" и "По окончании", "Шестопсалмие", "Чин чтения 12-ти псаломв", "Помянник" и "Псоледование по исходе души от тела"</li>
      <li>Раздел "О псалмопении" и словарь малопонятных слов</li>
      <li>Режимы чтения: постраничный (книжный), вертикальный, ночной.</li>
      <li>Настройки: размер шрифта, интервалы, переносы, гарнитура шрифта.</li>
      <li>Закладки, история чтения, избарнные псалмы.</li>
    </ul>
    <div class="center">
      <button (click)="hideIntro()" ion-button outline small>
        Скрыть информацию
      </button>
    </div>
  </div>
  <div class="center">
    <button (click)="showIntro()"  *ngIf="isIntroHidden === 'true'" ion-button outline small>
      О приложении
    </button>
  </div>

</ion-content>
