// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Irmologion; /* имя шрифта для CSS правил */
  src: local("Irmologion"), /* проверяем наличие шрифта в ОС пользователя */
  url(../assets/fonts/IrmIEUcs.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

.irmologion {
  font-family: Irmologion !important;
  font-weight: 300 !important;
  text-shadow: none !important;
}
.irmologion .hh,.ui-li-count {
  font-family: Times !important;
}

.irmologion h1,h2,h3 { font-weight: 400 !important; }

.forceRu {
  font-family: Times !important;
}

.irmologion {
  .toolbar-title {
    text-overflow: inherit;
  }
}

$bg1: #544039;
$bg2: #231e1a;
$font1: #f3eae3;

.night {
  .toolbar-title, .bar-button {
    color: $font1;
  }
  .toolbar-background, .searchbar-input {
    background: $bg1;
  }
  .content, .item, button[color="light"] {
    background: $bg2;
    color: $font1;
  }

  button {
    color: #F18F7B;
  }
  .item-inner {
    border-color: #404040 !important;
  }
  .pages-info {
    background-color: rgba(255, 255, 255, 0.1);
    .button-inner, button {
      color: $font1;
    }
  }
  .popover-viewport {
    background-color: $bg2;
  }
}

.center {
  text-align: center;
  text-indent: 0;
}
