<div *ngIf="psalm && psalm.id">

<p class="namepsal" psalm [attr.psalmId]="psalm.id"
   *ngIf="!psalmPart">
  <span *ngIf="psalm.id != 151">
    Псалом <span class="forceRu">{{psalm.id}}</span>
  </span>
</p>

<p psalm [attr.psalmId]="psalm.id"
   *ngIf="!psalmPart">
  <span *ngIf="psalm.strings[0]" [innerHTML]="psalm.strings[0].v | safeHtml"></span>
</p>

<p class="psal">
  <span *ngFor="let s of strings"
        [ngClass]="{'extraSpace': settings.extraSpace, 'isTitle': s.t, 'line': settings.translateOrientation !== 'horizontal'}">
    <span *ngIf="!s.t">
      <i>{{s.i || s.n}}</i><span [innerHTML]="s.v | safeHtml"></span><br/>
    </span>
    <span *ngIf="s.v2" class="translate forceRu">
      <i *ngIf="!s.t">{{s.n2}}</i><span [innerHTML]="s.v2 | safeHtml"></span><br/>
    </span>
  </span>
</p>

</div>
